* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #A03500;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #FFF0DC;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    border-bottom: 4px solid #ffb400;
    width: 100%;
    height: 125px;
    position: fixed;
    top: 0;
    z-index: 1030;
}

.logo-container {
    display: flex;
    align-items: center; 
    justify-content: center;
}

header img {
    height: 50px;
    margin-right: 10px;
}

header a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.5rem;
}


.navbar ul {
    list-style: none;
    display: flex;
    gap: 80px;
    justify-content: flex-end;
}

.navbar li {
    display: inline;
}

.navbar a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

#vendorButton a {
    background-color: #ffb400;
    color: #FFF0DC;
    padding: 8px 15px;
    border-radius: 5px;
    font-weight: bold;
}

#vendorButton a:hover {
    background-color: #ffa000;
}

h2 {
    font-size: 2rem;
    color: #FFF0DC;
    margin: 250px 10px;
    padding-top: 125px;
    text-align: center;
}



.video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1000;
}

video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  object-fit: cover; /* Ensures the video covers the entire background */
}

.photos {
    text-align: center;
    padding: 100px;
    background-color: black;
    height: 1000px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.photos h1 {
    font-size: 3rem;
    color: #ffb400;
    margin-bottom: 10px;
}

.photos h3 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 20px;
}

.photos img {
    width: 300px;
    height: auto;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}




.events {
margin-top: 125px;
background-color:#A03500;

}

.events h1 {
padding-bottom: 20px;
}


.day1 {
padding: 405px;
color: white;
}
.desc1{
    
}
.descImg1 {

}


.day2 {
padding: 405px;
background-color:#ffb400;

}



.day3 {
padding: 405px;
color: white;
}














footer {
    background-color: #FFF0DC;
    color: black;
    text-align: center;
    padding: 20px;
    width: 100%;
}

footer p {
    margin-bottom: 15px;
}

footer a {
    color: #ffb400;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}

footer a:hover {
    color: #ffa000;
}
